html, body { 
    padding: 0; 
    margin: 0;
    font-family: Arial;
}
.promobox {
    text-align: center;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 100px;
    font-family: 'Franklin Gothic Medium', monospace;
    font-size: 36px;
    background-color: blanchedalmond;
    color: #100720;
}
.header {
    text-align: center;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 5px solid #071553;
    border-bottom: 1em, solid, black;
    background: #7c6d68;
    background-image: url(img/hohol-back.jfif);
    background-repeat: repeat-x;
    font: 1em Cursive bold;
}
h1 {
    font-size: 48px;
    color: black;
}
h2 {
    color: darkblue;
}
.photobox {
    text-align: center;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: Geneva;
    font-size: 24px;
    font-weight: bold;
    background-color: none;
    color: #f7750a;
}
.zmist {
    float: center;
    padding: 20px 20px 20px 20px;
    margin-top: 20px;
    text-align: center; 
    font-size:32px;
    font-weight: bold;
} 
.zmist a:link {
    color: darkblue; 
    border-bottom: none; 
    text-decoration-line: none;
}
.zmist a:visited {
    color: darkblue;
    text-decoration-line: none;
    border-bottom: red;
}
.zmist a:hover {
    color: blue;
    text-decoration-line: none;
    text-decoration: underline;
    border-bottom: red;
}
.zmist a:active {
    color: blue; 
    text-decoration-line: none;
    border-bottom: red;
}
.generaltext {
    padding: 15px;
    font-size: 20px;
}
.quote {
    text-align: right;
    padding-left: 60px;
    padding-right: 20px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}
.leftimg {
    float:left; /* Выравнивание по левому краю */
    margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
}
.rightimg  {
    float: right; /* Выравнивание по правому краю  */ 
    margin: 7px 0 7px 7px; /* Отступы вокруг картинки */
}
.inref {
    text-align: center; 
    font-weight: bold;
}  
.versus {
    text-align: left;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 60px;
    font-style: italic;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.big {
    font-weight: bold;
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.epitaph {
    text-align: center;
    border-bottom: 5px solid, black;
    font-weight: bold;
    font-size: 28px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.wrapper {
    display: flex;  
    flex-flow: row wrap;
    text-align: center;
}
.footer {
background: #8897eb;
}
.main {
text-align: left;
background: #e5edf0;
}
.aside-L {
background: #e9da84;
display: flex;
flex-direction: column;
justify-content: space-between;
background-image: url(img/stamp-hohol.jfif);
background-repeat: repeat-y;
}
.aside-R {
background: #e7bcd2;
display: flex;
flex-direction: column;
justify-content: space-around;
background-image: url(img/dykanka.jfif);
background-repeat: repeat;
}
@media all and (min-width: 600px) {
.aside { flex: 1 0 0; }
}
@media all and (min-width: 800px) {
.main    { flex: 3 0px; }
.aside-L { order: 1; } 
.main    { order: 2; }
.aside-R { order: 3; }
.footer  { order: 4; }
}
body {
padding: 2em; 
}